*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: 'Open-Dyslexic', 'Righteous', cursive;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid 3px  rgba(253, 115, 102, 0.82);
    height: 85px;
    background-color: rgba(253, 115, 102, 0.82);
}

header nav a{
    width: 20px;
    height: 20px;
    /* padding: 20px; */
    margin-right: 50px;
    font-size: 24px;
    text-decoration: none;
    color:white;  

}

header h1 {
    margin-left: 24px;
    font-size: 35px;
    line-height: 42px;
    color: white;
    font-size: 24px;
}
body{
    justify-items: center;
}

footer {
    background-color:rgba(253, 115, 102, 0.82);
    text-align: center;
    color: white;
    border-top: solid 3px rgba(253, 115, 102, 0.82);
    margin-bottom: auto;
}
footer ul{
    margin: 24px;
    display: inline-block;
    list-style-type: none;
    align-items: center;
    justify-content: center;

}

footer ul h3{
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-weight: 300;
}

footer ul img {
    margin: 5px;
    margin-top: 10px;
    padding: 5px;
    border-radius: 8px;
}

footer ul a img:hover {
    background-color: teal;
}



.corpo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
}

#esq {  
    background-color: rgba(233, 80, 103, 0.50);
    border-right: solid 2px rgba(253, 115, 102, 0.82);
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    align-items: center;

}

#esq h2 {

    font-size: 20px;
    margin-top: 24px;
    color: black;

}

#esq a {

    width: min-content;
    height: min-content;
    text-decoration: none;
    color: black;
    padding: 10px 20px;
    border-radius: 50px;
    border: 3px solid rgba(253, 115, 102, 0.82);
    margin-bottom: 80px;
    font-weight: 500;
    font-size: 18px;
    
}

#esq a:hover {
    background-color: #F75E75;
    border: 3px solid #F75E75;
    color: white;
}

#esq span {
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 30px;
    background-color: #C2848D;
    color: white;
    font-size: 18px;
}

#btn-mudartema, #btn-reiniciar {
    text-align: center;
    text-decoration: none;
    background-color: white;
    color: black;
    border: 2px solid #4CAF50; /* Green */
}

#responsivo {
    display: none;
}

.titulo {
    background-color: aliceblue;
    padding: 8px;
    border-radius: 40px
}

.magenta {
    background-color: rgba(253, 115, 102, 0.82);
}