*{
  margin: 0px;
  padding:0px;
  box-sizing: border-box;
  color: black;
  font-family: 'Open-Dyslexic', 'Righteous', cursive;
}

h3 {
  color: black;
}

body{
  background-color: rgb(233, 80, 103, 0.50);
}

header#cabecalho-principal{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: solid 3px  rgba(253, 115, 102, 0.82);
  height: 85px;
  background-color: rgba(253, 115, 102, 0.695);

}


#pontuacao-game{
  background-color: rgb(233, 80, 103, 0.50);
  border-radius: 30px;
  padding: 10px;
  color: rgb(16, 7, 7);
  padding: 5px 50px;

  font-size: 20px;
  font-weight: 700;

  margin-left: 15px;

  display: flex;
  flex-direction: row;
  justify-content: center;

}

#pontuacao-game img{
  margin-right: 15px;
}

#nome-jogo{
    margin-left: 24px;
    font-size: 35px;
    line-height: 42px;
    color: white;
    font-family: 'Open-Dyslexic', 'Righteous', cursive;
    font-size: 24px;
    margin-right: 2%;
}

section#corpo{
  display: flex;
  flex-direction: row;
  margin-top: 15px;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}

section#corpo div#esquerda{


  color: rgb(16, 10, 10);
  display: flex;
  flex-direction: column;
  width: 60%;

  align-items: center;


}

section#corpo div#esquerda div#cor-atual{
  margin-top: 10px;
  height: 200px;
  width: 200px;
  background-color: aliceblue;
  padding: 100px;
  border: solid 10px aliceblue;
  border-radius: 15px;

}

section#corpo div#esquerda button#btn-responder{

  background-color: transparent;
  margin-top: 10px;

  background-color: transparent;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 8px;
  
  font-size: 25px;
  font-weight: bold;
  color: rgb(0, 0, 0);
  padding: 15px 45px;

}


div#container footer#rodape{
  
  background-color: rgba(253, 115, 102, 0.82);
  bottom: 0px;
  width: 100%;
  height: 100px;
  margin-top: 5%;
  display: flex;

}

.span {
  font-size: 50px;
}

.white {
  color: white;
}